<%= render 'layouts/top_bar' %>

<div class="container top-buffer d-flex justify-content-center">
  <div class="col-9">

    <p>The Tax ID Validator can be used to validate Tax IDs from the following countries/regions:</p>

    <ul>
      <li>Australia</li>
      <li>European Union</li>
      <li>South Affrica</li>
      <li>United Kingdom</li>
    </ul>

  </div>
</div>
