<footer id="sticky-footer" class="py-4 footer">
  <div class="container d-flex justify-content-between">
    <div class="col-6 d-flex justify-content-start">
      <div class="d-inline my-auto">
        <small>

          Copyright &copy 2020

        </small>
      </div>
    </div>

    <div class="col-6 my-auto d-flex justify-content-end">
      <small>

        <%= link_to "About Tax ID Validator", about_path, class: "nav-link" %>

      </small>
    </div>
  </div>
</footer>
