<footer id="sticky-footer" class="py-4 footer">
  <div class="container d-flex justify-content-between">
    <div class="col-6 d-flex justify-content-start">
      <div class="d-inline my-auto">
        <small>

          <%= t('.copyright_text') %> &copy 2020

        </small>
      </div>
    </div>

    <div class="col-6 my-auto d-flex justify-content-end">
      <small>

        <%= link_to t('.tax_id_validator_link'), about_path, class: "nav-link" %>

      </small>
    </div>
  </div>
</footer>
